nebula = {

    name: 'nebula',

    /// ━━━━━━━━━━━━ DEFAULTS

    default:         __nebula_default,

    // elements
    heading:         __nebula_heading,
    paragraph:       __nebula_paragraph,
    list:            __nebula_list,
    code:            __nebula_code,
    vector:          __nebula_vector,

    // properties
    border:          __nebula_border,
    background:      __nebula_background,

    // states
    link:            __nebula_link,
    visited:         __nebula_visited,
    hover:           __nebula_hover,
    active:          __nebula_active,
    focus:           __nebula_focus,

    /// ━━━━━━━━━━━━ SCOPES

    nav: {
        default:     __nebula_nav_default,
        vector:      __nebula_nav_vector,
        background:  __nebula_nav_background,
        // ⚓
        link:        __nebula_nav_link,
        visited:     __nebula_nav_visited,
        hover:       __nebula_nav_hover,
        active:      __nebula_nav_active,
        focus:       __nebula_nav_focus
    },

    header: {
        default:     __nebula_header_default,
        vector:      __nebula_header_vector,
        background:  __nebula_header_background,
        // ⚓
        link:        __nebula_header_link,
        visited:     __nebula_header_visited,
        hover:       __nebula_header_hover,
        active:      __nebula_header_active,
        focus:       __nebula_header_focus
    },

    footer: {
        default:     __nebula_footer_default,
        vector:      __nebula_footer_vector,
        background:  __nebula_footer_background,
        // ⚓
        link:        __nebula_footer_link,
        visited:     __nebula_footer_visited,
        hover:       __nebula_footer_hover,
        active:      __nebula_footer_active,
        focus:       __nebula_footer_focus
    },

    syntax: {
        default:     __nebula_syntax_default,
        punctuation: __nebula_syntax_punctuation,
        keyword:     __nebula_syntax_keyword,
        operator:    __nebula_syntax_operator,
        variable:    __nebula_syntax_variable,
        class:       __nebula_syntax_class,
        element:     __nebula_syntax_element,
        function:    __nebula_syntax_function,
        property:    __nebula_syntax_property,
        attribute:   __nebula_syntax_attribute,
        string:      __nebula_syntax_string,
        number:      __nebula_syntax_number,
        regexp:      __nebula_syntax_regexp,
        doctype:     __nebula_syntax_doctype,
        comment:     __nebula_syntax_comment,
        background:  __nebula_syntax_background
    }

}
