/// ━━━━━━━━━━━━ DEFAULTS

// default
__nebula_default            = #AEB2A4

// elements
__nebula_heading            = __nebula_default
__nebula_paragraph          = __nebula_default
__nebula_list               = __nebula_default
__nebula_code               = #70A050
__nebula_vector             = #7C7C76

// properties
__nebula_border             = _35
__nebula_background         = #343233

// states
__nebula_link               = #6F92AA
__nebula_visited            = __nebula_link
__nebula_hover              = __nebula_link
__nebula_active             = __nebula_hover
__nebula_focus              = __nebula_hover

/// ━━━━━━━━━━━━ SCOPES

// navigation
__nebula_nav_default        = _45
__nebula_nav_vector         = __nebula_vector
__nebula_nav_background     = __nebula_background
// ⚓
__nebula_nav_link           = __nebula_nav_default
__nebula_nav_visited        = __nebula_nav_link
__nebula_nav_hover          = _65
__nebula_nav_active         = __nebula_nav_hover
__nebula_nav_focus          = __nebula_nav_hover

// header
__nebula_header_default     = _45
__nebula_header_vector      = __nebula_default
__nebula_header_background  = __nebula_background
// ⚓
__nebula_header_link        = __nebula_header_default
__nebula_header_visited     = __nebula_header_link
__nebula_header_hover       = _65
__nebula_header_active      = __nebula_header_hover
__nebula_header_focus       = __nebula_header_hover

// footer
__nebula_footer_default     = #7C7C76
__nebula_footer_vector      = __nebula_vector
__nebula_footer_background  = __nebula_background
// ⚓
__nebula_footer_link        = #7C7C76
__nebula_footer_visited     = __nebula_footer_link
__nebula_footer_hover       = __nebula_default
__nebula_footer_active      = __nebula_footer_hover
__nebula_footer_focus       = __nebula_footer_hover

// syntax
__nebula_syntax_default     = #9E9C99
__nebula_syntax_punctuation = #9E9C99
__nebula_syntax_keyword     = #B06555
__nebula_syntax_operator    = #B06555
__nebula_syntax_variable    = #B7855F
__nebula_syntax_class       = #9C7BB2
__nebula_syntax_element     = #9C7BB2
__nebula_syntax_function    = #7999B7
__nebula_syntax_property    = #639E68
__nebula_syntax_attribute   = #639E68
__nebula_syntax_string      = #A39C68
__nebula_syntax_number      = #C189B0
__nebula_syntax_regexp      = #579B7A
__nebula_syntax_doctype     = #585758
__nebula_syntax_comment     = _35
__nebula_syntax_background  = #1D1C1C
